#main {
	width: 500px;
	margin: auto;
}
#header {
	
}
#contents {
	
}

.rightPostion {
	text-align: right;
}

.inputText {
	width: 60%;
}

.formButton {
	width: 30%;
	margin-left: 10px;
}

.submitP {
	padding-left: 10px;
}

.outputText {
	width:80%;
	margin-left: 10px;
}

.nextPageButton {
	position: fixed;
    left: 50%;
    transform: translate(-50%);
	width: 90px;
	margin-top: 20px;
}

/***　おしゃれテーブル3 シアンカラー　***/
.osare3-table {
 width:100%;
 border-collapse: separate; 
 border: none;
 border-spacing: 0px 10px ;
}

.osare3-table tbody td, 
.osare3-table tfoot td {
 text-align: center;
}

/* 上部ヘッダー（背景：パステルカラー） */
.osare3-table thead th {
 color: #FFF; 
 font-weight: bold;
 background:#00BCD4;
}

/*
.osare3-table th,
.osare3-table td {
 border: 0 none !important;
}
*/

/* １行ずつ色変更　不要なら削除 even:奇数行　odd:偶数行 */
.osare3-table tr:nth-child(even) td { 
 background: #f5f5f5; 
} 
.osare3-table tr:nth-child(odd) td {
 background: #FDFDFD; 
}

/* ヘッダーセル先頭・ボディ項目・フッター項目 */
.osare3-table tbody th,
.osare3-table tfoot th,
 {
 background:none;
 color:#666;
 font-weight: bold;
 line-height:4.5em;
 text-align:right;
}


/*（共通）　項目の多いテーブルの幅を調整*/
@media (max-width: 767px) {
 .col6t th,
 .col6t td{
 font-size:0.4em;
 padding: 10px 0px;
 }
 .col5t th,
 .col5t td{
 font-size:0.5em;
 padding: 10px 0px;
 }
 .col4t th,
 .col4t td{
 font-size:0.7em;
 padding: 10px 5px;
 }
 .col3t th,
 .col3t td{
 font-size:0.8em;
 padding: 10px 10px;
 }
}
